<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Hello!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Hotels">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="yourtasks">Book Here</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="checklist">Check-list</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="myprogress">My-Progress</a>
                        <a class="dropdown-item" href="addnew">Add-New</a>
                        <a class="dropdown-item" href="discover">Discover</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="navbar-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="modal" data-target="#modalLRForm">
                           LogIn</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="modal" data-target="#modalRForm">
                        Register</a>
                </li>

            </ul>
        </div>
    </nav>
</section>


<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">

        <div class="modal-content">


            <div class="contentMain container pt-3" class="align-items-center">



                <div class="tab-content">

                    <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user mr-1"></i>
                    Customer Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                    Hotel Login</a>
                        </li>
                    </ul>
                    <div class="contentMain container pt-3" class="align-items-center">
                        <div class="tab-pane fade in show active" id="panel8" role="tabpanel">

                            <div class="modal-body">

                                <div class="col-sm-12">
                                    <span> Email / UserName </span>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalRInput12"></label>
                                </div>

                                <div class="col-sm-12">
                                    <span> Password </span>
                                    <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalRInput14"></label>
                                </div>
                                <p style=" color: blue">Forgot Password?</p>

                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-info">Login<i class="btn-primary"></i></button>
                                </div>

                                <div>
                                    Don't Have Account yet? Register Now

                                    <a href="" class="nav-link" data-toggle="modal" data-target="#modalRForm">
                                            (Customer/Hotel)</a>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="modalRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">

        <div class="modal-content">


            <div class="contentMain container pt-3" class="align-items-center">



                <div class="tab-content">

                    <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user mr-1"></i>
                    Customer Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                    Hotel Register</a>
                        </li>
                    </ul>
                    <div class="contentMain container pt-3" class="align-items-center">
                        <div class="tab-pane fade in show active" id="panel8" role="tabpanel">

                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <span>First Name</span>
                                        <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalRInput12"></label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span> Last  Name</span>
                                        <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalRInput12"></label>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <span> Email Address </span>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalRInput12"></label>
                                </div>

                                <div class="col-sm-12">
                                    <span> Password </span>
                                    <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalRInput14"></label>
                                </div>

                                <div class="col-sm-12">
                                    <span> Confirm Password </span>
                                    <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalRInput14"></label>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-info">Register<i class="btn-primary"></i></button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<router-outlet></router-outlet>