<section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url(IMG_SRC);">
    <div class="contentMain container pt-3">
        <div class="contentMain container pt-3" class="align-items-center">


            <header class="page-header d-flex px-2 mb-2 mt-2 pl-3 pr-3 p-1 radius-3">
                <div class="col-sm-3 ">
                    <select class="form-control ">
                           <option value="select State">Select State</option>
                           <option value="XYZ">XYZ</option>
                    </select>
                </div>
                <div class=col-sm-3>
                    <input class="form-control" type="date" placeholder="Available Date">
                </div>
                <div class="form-control" class=col-sm-6>
                    <input class="float-right" type="text" placeholder="Search here..">
                </div>
            </header>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card ">
                        <div class="card-body ">
                            <h5 class="card-title">Hotel Name</h5>
                            <i class="fa fa-heart"></i>
                            <p>Location</p>
                            <div class="float-left">Available Date </div>
                            <div class="float-right"> Starts@2500/- </div>
                        </div>
                        <div class="btn btn-primary">BOOK NOW</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card ">
                        <div class="card-body ">
                            <h5 class="card-title">Hotel Name</h5>
                            <p>Location</p>
                            <div class="float-left">Available Date </div>
                            <div class="float-right"> Starts@2500/- </div>
                        </div>
                        <div class="btn btn-primary">BOOK NOW</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card ">
                        <div class="card-body ">
                            <h5 class="card-title">Hotel Name</h5>
                            <p>Location</p>
                            <div class="float-left">Available Date </div>
                            <div class="float-right"> Starts@2500- </div>
                        </div>
                        <div class="btn btn-primary">BOOK NOW</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="contentMain container pt-3" class="align-items-center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card ">
                        <div class="card-body ">
                            <h5 class="card-title">Hotel Name</h5>
                            <p>Location</p>
                            <div class="float-left">Available Date </div>
                            <div class="float-right"> Starts@2500/- </div>
                        </div>
                        <div class="btn btn-primary">BOOK NOW</div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card ">
                        <div class="card-body ">
                            <h5 class="card-title">Hotel Name</h5>
                            <p>Location</p>
                            <div class="float-left">Available Date </div>
                            <div class="float-right"> Starts@2500/- </div>
                        </div>
                        <div class="btn btn-primary">BOOK NOW</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card ">
                        <div class="card-body ">
                            <h5 class="card-title">Hotel Name</h5>
                            <p>Location</p>
                            <div class="float-left">Available Date </div>
                            <div class="float-right"> Starts@2500/- </div>
                        </div>
                        <div class="btn btn-primary">BOOK NOW</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>